:root {
  --boston-50: #f1f7fa;
  --boston-100: #dcebf1;
  --boston-200: #bcd7e5;
  --boston-300: #8eb9d2;
  --boston-400: #5792b7;
  --boston-500: #3d779d;
  --boston-600: #356185;
  --boston-700: #31516d;
  --boston-700-transparent: #31516d62;
  --boston-800: #2f465b;
  --boston-900: #2b3c4e;
  --boston-950: #182534;
}
.MyBody {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  scrollbar-width: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* Updated styles */
.MyTopHeader {
  width: 100vw;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: var(--boston-600);
  transition: all 0.3s ease-in-out;
  .Mylogo {
    margin-top: 10px;
    width: 100px;
  }
}

.TextMyLogo {
  text-align: left;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
  transform: translateY(-10px);
  h1 {
    color: var(--boston-400);
  }
  p {
    color: var(--boston-200);
  }
}

.MyNabar {
  width: 100vw;

  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: var(--boston-600);
  padding: 25px;

  .MyTitle {
    justify-content: end;
    color: var(--boston-200);
    margin: auto;
  }
}

.ContenedorA {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
  width: 200px;

  .MyBox {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--boston-200);
    animation: Agrandar 0.5s ease-in-out infinite;
  }

  .MyBox:nth-child(1) {
    animation-delay: 0.2s;
  }
  .MyBox:nth-child(2) {
    animation-delay: 0.4s;
  }
  .MyBox:nth-child(3) {
    animation-delay: 0.8s;
  }
}

@keyframes Agrandar {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.MyMenu {
  position: absolute;
  right: 4vh;

  .MyList {
    display: flex;
    list-style: none;
    li {
      position: relative;
      margin: 10px;

      .MySubmenu {
        /* hace que la parte de abajo se vea por encima de cualquier cosa en la pagina */
        z-index: 1000;
        display: none;
        position: absolute;
        width: max-content;
        text-align: left;
        top: 100%;
        left: 0;
        background-color: var(--boston-500);
        border-bottom-right-radius: 10px;
        transition: all 0.2s ease-in-out;

        li:hover {
          transform: scale(1.1);
          transition: all 0.1s ease-in-out;
          background-color: var(--boston-700);
          border-bottom-right-radius: 10px;
        }

        li {
          border-left: 2px solid var(--boston-100);
          width: 100%;
          list-style: none;
          position: relative;

          padding: 7px;
          transition: all 0.4s ease-in-out;
          a {
            color: var(--boston-200);
            transition: all 0.1s ease-in-out;
          }
          a:hover {
            color: var(--boston-100);
            transition: all 0.1s ease-in-out;
          }
        }
      }
    }

    a {
      font-size: 18px;
      text-decoration: none;
      color: var(--boston-200);
    }
  }
}

.MyMenu .MyList li:hover .MySubmenu {
  display: block;
  transition: all 0.4s ease-in-out;
}

.MyTitleContent {
  display: flex;
  position: absolute;
  left: 8vh;
  gap: 10px;
  .Mylogo {
    width: 50px;
    height: 50px;
  }
}

a {
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  background-color: var(--boston-200);
  bottom: 0;
  left: 0;
  transition: all 0.3ms ease-in-out;
}

a:hover::after {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

.MyMain {
  flex: 1; /* Expande para ocupar el espacio disponible */
  padding: 20px; /* Agrega relleno si es necesario */
  background-color: var(--boston-100); /* Color de fondo */
  width: 100vw;
}

.Titulo {
  color: var(--boston-200);
  position: relative;
  animation: TituloAnimado 2s alternate ease infinite paused;
}

.Titulo:hover {
  animation-play-state: running;
}

@keyframes TituloAnimado {
  0% {
    transform: scale(1);
    color: var(--boston-200);
  }
  50% {
    transform: scale(1.1);
    color: var(--boston-300);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.MyFooter {
  width: 100%;
  margin-top: auto; /* Empuja el footer al final */
  display: flex;
  justify-content: center;
  background-color: var(--boston-500);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 10px;

  a {
    img {
      width: 50px;
      height: 50px;
    }
  }

  .MyRedes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}

.ContentMyRedesIcons {
  display: flex;

  gap: 10px;
  justify-content: center;
  align-items: center;
}

.ImageTextRedes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--boston-200);
  img {
    width: 50px;
    height: 50px;
  }
}

.MySection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .Galeria {
    display: flex;
    flex-wrap: wrap; /* Permite que las imágenes bajen a una nueva fila */
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espaciado entre las imágenes */

    .ImageCarrucel {
      display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center;
      width: 220px;
      height: 200px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 5px;
      margin: 10px;
      transition: all 0.3s ease-in-out;
    }

    .ImageCarrucel:hover {
      width: 300px;
      box-shadow: 2px 1px 1px 2px var(--boston-700-transparent);
      transform: translateY(-10px);
    }
    .ImageCarrucel:nth-child(1) {
      background-image: url("../img/PlanSolucion.jpg");
    }
    .ImageCarrucel:nth-child(2) {
      background-image: url("../img/PlanTranuilidad.jpg");
    }
    .ImageCarrucel:nth-child(3) {
      background-image: url("../img/PlanSatisfaccion.jpg");
    }

    .ImageCarrucel a {
      text-decoration: none;
    }
  }

  .ImageCarrucel p {
    transition: all 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.411);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: var(--boston-100);
    display: none;
    transition: display 0.3s ease;
  }

  .ImageCarrucel:hover p {
    transition: all 0.3s ease-in-out;
    display: block;
  }

  .MyMisionAndMyvision {
    width: 90vw;
    margin: auto;
    background-color: var(--boston-200);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    .MyBox {
      position: absolute;
      top: 3px;
      right: 4px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--boston-700);
      animation: Agrandar 0.5s ease-in-out infinite;
    }
    p {
      text-align: center;
      padding: 10px;
      margin: 10px;
    }
  }

  .MyMV {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      margin: 10px;
    }
  }

  .MyMision {
    color: var(--boston-500);
  }

  .MyVision {
    color: var(--boston-600);
  }

  .SubTitulo {
    color: var(--boston-500);
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
    position: relative;
  }

  .SubTitulo::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 2px;
    background-color: var(--boston-500);
    bottom: 0;
    left: 0;
    transition: all 0.3ms ease-in-out;
  }

  .SubTitulo:hover::after {
    width: 100%;
    transition: width 0.3s ease-in-out;
  }

  .namepage {
    color: var(--boston-500);
    text-align: center;
    margin: 5px;
    transition: all 0.3s ease-in-out;
  }

  .namepage:hover {
    color: var(--boston-600);
    scale: 1.1;
  }

  .MyInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    background-color: var(--boston-200);
    margin: 20px;

    .namepage {
      color: var(--boston-500);
      text-align: center;
      margin: 10px;
    }

    article {
      display: flex;
      gap: 2px;
      justify-items: center;
      align-items: center;
      margin: 20px;
      div {
        iframe {
          border-top-left-radius: 20px;
          border-bottom-right-radius: 20px;
        }
      }
      p {
        text-align: center;
        padding: 10px;
        margin: 10px;
        width: 580px;
        color: var(--boston-700);
      }
    }
  }
}

.MenuShow {
  width: 100px;
  display: none;
  position: relative;
  padding: 10px;
  background-color: var(--boston-700);
  border-radius: 30px;
  font-size: 17px;
  border: none;
  color: var(--boston-200);
  transition: all 0.3s ease-in-out;
}

.MenuShow:hover {
  background-color: var(--boston-400);
}

.MenuShow:focus .MyModal {
  display: block;
}

.MyModal {
  display: none; /* Ocultar el modal inicialmente */
  position: absolute;
  width: min-content;
  height: min-content;
  top: 50px;
  right: -50px;
  background-color: white;
  border: 1px solid var(--boston-400);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  border-top-left-radius: 30px;
}

.MyListModal {
  display: none;
  width: max-content;
  list-style: none;
  padding: 20px;
  li {
    a {
      text-decoration: none;
      font-size: large;
      color: var(--boston-400);
    }
    .MySubmenuModal {
      width: max-content;
      padding: 30px;
      background-color: var(--boston-100);
      display: none;
      position: absolute;
      left: -60px;
      border: solid 2px var(--boston-400);
      top: 100px;
      z-index: 1000;
      list-style: none;
      border-top-left-radius: 30px;
    }
    .MySubmenuModal li {
      width: max-content;

      transition: all 0.3s ease-in-out;
    }
    .MySubmenuModal li:hover {
      transition: all 0.3s ease-in-out;
      border-bottom-right-radius: 20px;
      border-left: solid 2px var(--boston-400);
      width: max-content;
      transform: translate(-10px);
      padding: 10px;
      background-color: var(--boston-600);
    }

    .MySubmenuModal li:hover a {
      color: var(--boston-200);
    }
    .MySubmenuModal li {
      a {
        text-decoration: none;
        font-size: large;
      }
    }
  }
}

.MyInfo::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 5px;
  background-color: var(--boston-500);
  top: 150px;
  right: -100px;
  transition: all 0.3ms ease-in-out;
  transform: rotate(90deg);
}

.MyInfo::before {
  content: "";
  position: absolute;
  width: 20%;
  height: 5px;
  background-color: var(--boston-500);
  top: 120px;
  right: -90px;
  transition: all 0.3ms ease-in-out;
  transform: rotate(90deg);
}
/* .MyInfo:hover::after {
  
  
} */

.MyInfo {
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  position: relative;
  article {
    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .MyText {
        list-style: none;
        padding: 10px;
        margin: 10px;
        font-size: 17px;
        width: 580px;
        color: white;
        background: rgba(0, 0, 0, 0.192);
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        transition: all 0.2s ease;
      }
      .MyText:hover {
        font-size: 20px;
        border: solid 1px var(--boston-600);
        margin: 10px;
        transform: translateY(-10px) scale(1.05);
        z-index: 10;
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }
}
.MyTitleAndImage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 10px;
  margin: 20px;
  .namepage {
    color: var(--boston-500);
    font-size: 30px;
  }
}

.MyListModal:nth-child(2) {
  position: relative;
}

.Activo {
  display: block;
}

.ActivoFlex {
  display: flex;
}
/* Plan seccions */

.MySectionPlanes {
  background-color: var(--boston-200);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.MyPlanInfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 90vw;
  height: max-content;

  .MyNamePlan {
    margin: 10px;
    font-size: 30px;
  }

  .MyPlan {
    ul {
      font-weight: bold;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: start;
      align-items: start;
      gap: 20px;
    }

    li {
      color: var(--boston-400);
      list-style: none;
      width: calc(
        33.33% - 20px
      ); /* Ajusta el ancho para que tres elementos quepan en una fila */
    }

    .MyEspecial {
      color: var(--boston-500);
      font-size: 25px;
    }
  }
}

.logoPlan {
  margin: auto;
  height: 200px;
  width: 90vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* plan secction */

.MyButtonAdquirir {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--boston-600);
  color: var(--boston-200);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.MyButtonAdquirir:hover {
  background-color: var(--boston-500);
  translate: 0px -5px;
  color: var(--boston-100);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.MyAbaut {
  margin: auto;
  width: 90vw;
  height: max-content;
  font-size: 25px;
  color: var(--boston-600);
}

@media screen and (max-width: 1089px) {
  /* Planes seccions */
  .MySectionPlanes {
    background-color: var(--boston-200);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .MyPlanInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: min-content;

    .MyNamePlan {
      font-size: 20px;
    }

    .MyPlan {
      ul {
        font-size: 15px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;

        li {
          color: var(--boston-400);
          list-style: none;
          width: 100%;
        }
      }
      .MyEspecial {
        color: var(--boston-500);
        font-size: 15px;
      }
    }
  }

  .logoPlan {
    margin: auto;
    height: 200px;
    width: 90vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  /* plan secction */

  .MyAbaut {
    margin: auto;
    width: 90vw;
    height: max-content;
    font-size: 20px;
    color: var(--boston-600);
  }

  .MenuShow {
    display: block;
    transition: all 0.3s ease-in-out;
  }
  .MyModal {
    display: none;
    .MyListModal {
      display: flex;
      gap: 10px;
      flex-direction: column;
      li {
        .SubMenuShow {
          border: solid 1px var(--boston-400);
          border-radius: 10px;
          padding: 5px;
          background: none;
          color: var(--boston-400);
          font-size: 17px;
          cursor: pointer;
        }
        .MySubmenuModal {
          margin-top: 10px;
          display: none;
          flex-direction: column;
          gap: 10px;
        }
      }
    }
  }
  .MyNabar {
    .MyMenu {
      .MyList {
        display: none;
      }
    }
    .MyTitleContent {
      img {
        width: 30px;
        height: 30px;
      }

      .Titulo {
        font-size: 20px;
      }

      .ContenedorA {
        display: none;
      }
    }
  }

  .MyFooter {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
  }

  .MyFooter .MyRedes {
    flex-grow: column wrap;
    gap: 10px;
  }

  .MyFooter a img {
    width: 40px; /* Ajusta el tamaño de los íconos */
    height: 40px;
  }

  .MyMain {
    padding: 5px; /* Minimiza el relleno para aprovechar el espacio */
  }

  .MySection .namepage {
    font-size: 14px; /* Reduce el tamaño de texto */
  }
  .MyInfo div iframe {
    width: 50vw;
  }

  .MyInfo article {
    flex-direction: column; /* Ajusta elementos en columna */
    align-items: center;
  }

  .Galeria {
    flex-wrap: wrap; /* Asegura que los elementos se ajusten */
  }

  .ImageCarrucel {
    width: calc(50% - 20px); /* Cada imagen ocupa el 50% menos el gap */
    height: auto; /* Permite que se ajusten proporcionalmente */
  }

  .MyMain .MySection .MyInfo {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .MyMain .MySection .MyInfo article .MyText {
    padding: 10px;
    margin: 10px;
    font-size: 14px; /* Ajusta el tamaño del texto */
    width: 70vw; /* Usa el ancho completo */
    color: var(--boston-50);
    background: rgba(0, 0, 0, 0.192);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .MyMisionAndMyvision {
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin: auto;
    background-color: var(--boston-200);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    .MyBox {
      position: absolute;
      top: 3px;
      right: 4px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--boston-700);
    }
  }
}
